*/config/development
*/logs/log-*.php
!*/logs/index.php
*/cache/*
!system/cache/*
!*/cache/index.php
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.php
!application/logs/.htaccess
/vendor/
